.content {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40rem;
    border-right: 2px solid rgba(126, 8, 90, 0.3);
    padding-right: 3rem;

    .map {
        width: 30rem;
        height: 30rem;
    }
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
