@import "../../mixins";

.content {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    @include mobile {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40rem;
    border-right: 2px solid rgba(126, 8, 90, 0.3);
    padding-right: 3rem;

    @include mobile {
        padding-right: 0;
        border-right: 0;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .map {
        width: 30rem;
        height: 30rem;

        iframe {
            width: inherit;
            height: inherit;
        }
    }

    @include mobile {
        flex-basis: 100%;
    }
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;

    @include mobile {
        flex-basis: 100%;
    }
}
