<header>
  <h1>Sophie &amp; Heiko</h1>
</header>

<main>
  <form>
    <label for="file">
      Wir freuen uns über eure Schnappschüsse. Bitte ladet die Bilder und Videos hier hoch.
    </label>
    <input
      [disabled]="currentFile > 0"
      id="file"
      name="file"
      type="file"
      #input
      multiple
      (change)="onFileSelected($event)"
    />

    <div class="progress" *ngIf="currentFile > 0">
      <progress min="0" max="100" [value]="done ? 100 : uploadProgress"></progress>
      <span>
        Datei: {{ currentFile }} von {{ totalFiles }}.
        Fortschritt: {{ done ? 100 : uploadProgress }}%.
      </span>

      <div *ngIf="done" class="message">
        <strong>Upload erfolgreich.</strong><br />
        Du kannst nun weitere Bilder &amp; Videos hochladen.
      </div>
    </div>
  </form>
</main>
