<header>
    <h1>Eva und Matze heiraten</h1>

    <nav>
        <a routerLink="/home" routerLinkActive="active">Startseite</a>
        <a routerLink="/location" routerLinkActive="active">Anfahrt</a>
        <a routerLink="/ablauf" routerLinkActive="active">Ablauf</a>
        <a routerLink="/upload" routerLinkActive="active">Bilder hochladen</a>

        <a routerLink="/list" routerLinkActive="active">List</a>
    </nav>
</header>

<div class="content">
    <main>
        <router-outlet></router-outlet>
        <div class="separator"></div>
    </main>
</div>
