@import "../mixins";

$colorGold: rgb(204, 136, 33);

:host {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(#fff, 0.8);
  border-radius: 1rem;
  margin: 5rem;
  padding: 3rem;

  &::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 33rem;
    height: 33rem;
    background: url(/assets/background.jpg) no-repeat transparent;
    background-size: contain;
    z-index: -1;
    transform: translate(-10rem, -5rem) rotate(180deg) scaleX(-1);
    transform-origin: center center;
  }

  &::after {
    content: "";
    position: fixed;
    right: 0;
    bottom: 0;
    width: 33rem;
    height: 33rem;
    background: url(/assets/background.jpg) no-repeat transparent;
    background-size: contain;
    transform: translate(10rem, 5rem) scaleX(-1);
    transform-origin: center center;
    z-index: -1;
  }

  header {
    h1 {
      font-family: "Alex Brush", cursive;
      font-size: 5rem;
      color: $colorGold;
      text-align: center;
      line-height: 1;
    }
  }

  main {
    text-align: center;

    label {
      display: block;
      text-align: center;
      margin: 2rem 0;
      font-size: 1.3rem;
    }

    input[type="file"] {
      &::file-selector-button {
        border: 1px solid $colorGold;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        margin-right: 1rem;
      }
    }

    .progress {
      progress {
        height: 2.5rem;
        width: 80%;

        + span {
          color: $colorGold;
          font-weight: bold;
          display: block;
        }
      }
    }

    .message {
      color: darkgreen;
      display: block;
      margin: 1rem;
      font-size: 1rem;
    }
  }
}
