<header>
    <div class="header-wrapper">
        <span>Eva und Matze heiraten</span>

        <nav>
            <a routerLink="/home" routerLinkActive="active">Startseite</a>
            <a routerLink="/location" routerLinkActive="active">Anfahrt</a>
            <a routerLink="/schedule" routerLinkActive="active">Ablauf</a>
            <a routerLink="/upload" routerLinkActive="active">Bilder hochladen</a>

            <a routerLink="/list" routerLinkActive="active" *ngIf="isAuthInStorage">List</a>
        </nav>
    </div>
</header>

<main>
    <router-outlet></router-outlet>

    <div class="separator"><span></span></div>
</main>
