<h1>Bilder hochladen</h1>

<p>Damit kein Foto verloren geht, kannst du hier Fotos vor, während und nach der Hochzeit hochladen.</p>
<p>Zudem werden die Bilder Live auch der Hochzeit zu sehen sein.</p>

<form>
    <div class="left">
        <h2>Verrate uns deinen Namen:</h2>

        <div class="select-wrapper">
            <select [disabled]="loading" name="uploaderName" id="uploaderName" [(ngModel)]="form.uploaderName" (change)="updateUploader($event)">
                <option *ngFor="let uploader of uploaders" [value]="uploader.value" [innerHTML]="uploader.label"></option>
            </select>
        </div>
    </div>

    <div class="right" [class.loading]="loading">
        <image-upload [max]="10000" [preview]="false" [disabled]="!form.uploaderName" [url]="uploadUrl" buttonCaption="Hochladen" dropBoxMessage="" clearButtonCaption="Auswahl entfernen"
            [beforeUpload]="onBeforeUpload" (uploadStateChanged)="onUploadStateChanged($event)"></image-upload>
    </div>
</form>
