@import "../../mixins";

:host {
    display: block;

    @include mobile {
        padding: 0 0.5rem;
    }
}

form {
    margin: 2rem 7rem 1rem 7rem;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    @include mobile {
        flex-wrap: wrap;
    }

    .select-wrapper {
        background: #fff;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border-radius: 0.5rem;
        padding-right: 1rem;
        box-shadow: 2px 2px 4px 0 rgba(148, 148, 148, 0.6);

        select {
            padding: 1rem 0.5rem 1rem 1rem;
            appearance: none;
            width: 100%;
            height: 100%;
            border: 0;
            background: transparent;
            font-size: 1.2rem;
            outline: 0;
        }

        &::after {
            content: "\f0d7";
            font: normal normal normal 1rem/1 FontAwesome;
        }
    }

    image-upload {
        background-color: transparent;
        margin: 0 auto;

        ::ng-deep .img-ul {
            background: none;
            border: 0;

            .img-ul-file-upload {
                padding: 0;
            }

            .img-ul-upload {
                background-color: rgba(#fff, 0.9);
                border-radius: 0.5rem;
                padding: 1rem 5rem;
                display: inline-flex;
                flex-direction: column;

                &.img-ul-disabled {
                    pointer-events: none;

                    &::before {
                        color: #999;
                        content: "\f057";
                    }

                    span {
                        color: #999;
                    }
                }

                &::before {
                    color: #444;
                    content: "\f093";
                    font: normal normal normal 10rem/1 FontAwesome;
                }

                span {
                    color: #444;
                }
            }

            .img-ul-clear {
                display: none;
            }

            .img-ul-drag-box-msg {
                display: none;
            }

            .img-ul-container {
                display: none;
            }
        }
    }

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 7.5rem;
        flex-wrap: wrap;

        @include mobile {
            width: 100%;
            flex-direction: column;
            height: auto;
            margin-bottom: 1.5rem;

            h2 {
                margin-bottom: 1rem;
            }
        }
    }

    .right {
        border-left: 2px solid rgba(126, 8, 90, 0.3);
        display: flex;
        width: 50%;

        @include mobile {
            border-left: 0;
            width: 100%;
        }

        &.loading {
            image-upload {
                ::ng-deep .img-ul {
                    .img-ul-upload {
                        &::before {
                            @keyframes rotate {
                                from {
                                    transform: rotate(0);
                                }

                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            color: #444;
                            content: "\f110";
                            animation: rotate 2s linear infinite;
                        }

                        span {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}
