/* You can add global styles to this file, and also import other style files */
body, html {
	height: 100%;
	width: 100%;
}

html {
    font-size: 16px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (min-device-height: 320px) and (max-device-height: 480px) {
    html {
        font-size: 9px;
    }
}
